name: Printing Variable Workflow
on:
  workflow_dispatch: 
jobs:
  first_job_to_run:
    env:
      GITHUB_CTX: ${{toJson(github)}}
    name: first job on this workflow
    runs-on: ubuntu-latest
    steps:
      - name: first step on the job
        run: |
          echo printing all variable on github
          echo "$GITHUB_CTX"
  second_job_to_run:
      name: second job on this workflow
      runs-on: ubuntu-latest
      env:
        STRATEGY_CONTEXT: ${{toJSON(strategy)}}
      steps:
        - name: printing runner context
          id: job2
          run: |
            echo printing all runner context
            echo "$STRATEGY_CONTEXT"
