name: Strategy & Matrix
on:
  workflow_dispatch
jobs:
  first_job:
    name: Main and Only Job
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, window-latest]
        version: [version 1, version 2, version 3]
        include:
          - os: macos-latest
            version: version 6
        exclude:
          - os: macos-latest
            version: verison 2
    runs-on: ${{matrix.os}}
    steps:
      - name: Workflow running to understand matrix
        run: |
          echo Operating system is ${{matrix.os}}
          echo Runing on version ${{matrix.version}}
